USE [master]
GO
/****** Object:  Database [QL_CUAHANGMAYTINH]    Script Date: 21/09/2025 10:37:08 AM ******/
CREATE DATABASE [QL_CUAHANGMAYTINH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_CUAHANGMAYTINH', FILENAME = N'G:\doanvb.VuAnhTuan.Th29.21\QL_CUAHANGMAYTINH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_CUAHANGMAYTINH_log', FILENAME = N'G:\doanvb.VuAnhTuan.Th29.21\QL_CUAHANGMAYTINH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_CUAHANGMAYTINH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_CUAHANGMAYTINH]
GO
/****** Object:  Table [dbo].[BAO_HANH]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAO_HANH](
	[MaBaoHanh] [nvarchar](10) NOT NULL,
	[MaSanPham] [nvarchar](10) NULL,
	[MaKhachHang] [nvarchar](10) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MaChiTiet] [nvarchar](10) NOT NULL,
	[MaHoaDon] [nvarchar](10) NULL,
	[MaSanPham] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [decimal](10, 2) NULL,
	[ThanhTien] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON_NHAP]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON_NHAP](
	[MaChiTietNhap] [nvarchar](10) NOT NULL,
	[MaHoaDonNhap] [nvarchar](10) NULL,
	[MaSanPham] [nvarchar](10) NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](10, 2) NOT NULL,
	[ThanhTien] [decimal](10, 2) NOT NULL,
	[NgaySanXuat] [date] NULL,
	[HanSuDung] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaKhachHang] [nvarchar](10) NULL,
	[MaNhanVien] [nvarchar](10) NULL,
	[NgayLap] [date] NULL,
	[TongTien] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_NHAP]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_NHAP](
	[MaHoaDonNhap] [nvarchar](10) NOT NULL,
	[MaNhaCungCap] [nvarchar](10) NULL,
	[MaNhanVien] [nvarchar](10) NULL,
	[NgayNhap] [date] NOT NULL,
	[TongTien] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKhachHang] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SAN_PHAM]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SAN_PHAM](
	[MaLoai] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MaNhaCungCap] [nvarchar](10) NOT NULL,
	[TenNhaCungCap] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[NguoiLienHe] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](30) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSanPham] [nvarchar](10) NOT NULL,
	[TenSanPham] [nvarchar](255) NULL,
	[MaLoai] [nvarchar](10) NULL,
	[GiaNhap] [decimal](10, 2) NULL,
	[GiaBan] [decimal](10, 2) NULL,
	[SoLuongTon] [int] NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 21/09/2025 10:37:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDN] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](20) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOA_DON] ([MaHoaDon], [MaKhachHang], [MaNhanVien], [NgayLap], [TongTien]) VALUES (N'HD001', N'KH001', N'NV001', CAST(N'2025-08-01' AS Date), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[HOA_DON] ([MaHoaDon], [MaKhachHang], [MaNhanVien], [NgayLap], [TongTien]) VALUES (N'HD002', N'KH002', N'NV003', CAST(N'2025-08-02' AS Date), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[HOA_DON] ([MaHoaDon], [MaKhachHang], [MaNhanVien], [NgayLap], [TongTien]) VALUES (N'HD003', N'KH003', N'NV001', CAST(N'2025-08-05' AS Date), CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[KHACH_HANG] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH001', N'Nguyễn Văn An', N'0901234567', N'nva@gmail.com', N'123 Hoàng Mai, Hà Nội')
INSERT [dbo].[KHACH_HANG] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH002', N'Trần Thị Bình', N'0987654321', N'ttb@gmail.com', N'456 Cầu Giấy, Hà Nội')
INSERT [dbo].[KHACH_HANG] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH003', N'Lê Minh Cường', N'0912345678', N'lmc@yahoo.com', N'789 Đống Đa, Hà Nội')
GO
INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoai], [TenLoai], [MoTa]) VALUES (N'CPU', N'Vi xử lý', N'Bộ vi xử lý')
INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoai], [TenLoai], [MoTa]) VALUES (N'MH', N'Màn hình', N'Màn hình máy tính')
INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoai], [TenLoai], [MoTa]) VALUES (N'MT', N'Máy tính', N'Máy tính hoàn chỉnh')
GO
INSERT [dbo].[NHA_CUNG_CAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [Email], [NguoiLienHe], [TrangThai]) VALUES (N'NCC001', N'Công ty TNHH Dell Việt Nam', N'Tầng 15, Keangnam Tower, Hà Nội', N'0241234567', N'info@dell.vn', N'Nguyễn Thành E', N'Hoạt động')
INSERT [dbo].[NHA_CUNG_CAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [Email], [NguoiLienHe], [TrangThai]) VALUES (N'NCC002', N'Công ty CP Intel Việt Nam', N'Quận 1, TP.HCM', N'0281234567', N'contact@intel.vn', N'Trần Văn F', N'Hoạt động')
INSERT [dbo].[NHA_CUNG_CAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [Email], [NguoiLienHe], [TrangThai]) VALUES (N'NCC003', N'ASUS Việt Nam', N'Quận 7, TP.HCM', N'0283456789', N'support@asus.vn', N'Lê Thị G', N'Hoạt động')
GO
INSERT [dbo].[NHAN_VIEN] ([MaNhanVien], [TenNhanVien], [ChucVu], [SoDienThoai], [Email]) VALUES (N'NV001', N'Phạm Văn Dũng', N'Nhân viên bán hàng', N'0923456789', N'pvd@company.com')
INSERT [dbo].[NHAN_VIEN] ([MaNhanVien], [TenNhanVien], [ChucVu], [SoDienThoai], [Email]) VALUES (N'NV002', N'Hoàng Thị Em', N'Quản lý kho', N'0934567890', N'hte@company.com')
INSERT [dbo].[NHAN_VIEN] ([MaNhanVien], [TenNhanVien], [ChucVu], [SoDienThoai], [Email]) VALUES (N'NV003', N'Ngô Thanh Phong', N'Trưởng phòng', N'0945678901', N'ntp@company.com')
GO
INSERT [dbo].[SAN_PHAM] ([MaSanPham], [TenSanPham], [MaLoai], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [TrangThai]) VALUES (N'SP001', N'RAM DDR4 8GB Kingston Fury', N'RAM', CAST(800000.00 AS Decimal(10, 2)), CAST(1200000.00 AS Decimal(10, 2)), 50, N'DDR4-3200, CL16, 1.35V', N'Hoạt động')
INSERT [dbo].[SAN_PHAM] ([MaSanPham], [TenSanPham], [MaLoai], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [TrangThai]) VALUES (N'SP002', N'RAM DDR4 16GB Corsair Vengeance', N'RAM', CAST(1500000.00 AS Decimal(10, 2)), CAST(2200000.00 AS Decimal(10, 2)), 30, N'DDR4-3600, CL18, RGB', N'Hoạt động')
INSERT [dbo].[SAN_PHAM] ([MaSanPham], [TenSanPham], [MaLoai], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [TrangThai]) VALUES (N'SP003', N'SSD 256GB Samsung 970 EVO', N'SSD', CAST(1200000.00 AS Decimal(10, 2)), CAST(1800000.00 AS Decimal(10, 2)), 40, N'NVMe PCIe 3.0, 3500MB/s', N'Hoạt động')
GO
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau]) VALUES (N'admin', N'admin')
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau]) VALUES (N'vuanhtuan', N'123456')
GO
ALTER TABLE [dbo].[HOA_DON_NHAP] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BAO_HANH]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACH_HANG] ([MaKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BAO_HANH]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SAN_PHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOA_DON] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SAN_PHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON_NHAP]  WITH CHECK ADD FOREIGN KEY([MaHoaDonNhap])
REFERENCES [dbo].[HOA_DON_NHAP] ([MaHoaDonNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON_NHAP]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SAN_PHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACH_HANG] ([MaKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHAN_VIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HOA_DON_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNhaCungCap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHAN_VIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAI_SAN_PHAM] ([MaLoai])
GO
USE [master]
GO
